<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHFfAv8FKtRpAvIlvp3CBZBrycXD9_mdc</string>
	<key>GCM_SENDER_ID</key>
	<string>535682666753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banchile.react</string>
	<key>PROJECT_ID</key>
	<string>react-project-2da93</string>
	<key>STORAGE_BUCKET</key>
	<string>react-project-2da93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535682666753:ios:7b3e2306078b64d7110b00</string>
</dict>
</plist>